<br>
<div style="margin-left: 35%">
  <%= form_for :experiment_plate, url: generate_experiment_plate_path(@experiment_plate), method: :put do |f| %>

    <% if @experiment_plate.errors.any? %>
      <div id="error_explanation">
        <p>We have <%=@experiment_plate.errors.count%> errors before saving the experiment:</p>
        <ul style="color: darkred">
          <% @experiment_plate.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div style="margin-left: 3px">
      <div class="field">
        <br>
        <%= f.label :plate_size, "Enter plate size" %>
        <br>
        <%list = [96,384] %>
        <%= f.select(:plate_size, list) %>
      </div>

      <div class="field">
        <br>
        <%= f.label :sample, "Enter samples" %>
        <br>
        <%= f.text_field :sample, label: 'Sample' %>
        <br>
        <small style="color: grey">⚠ Split samples with space button and add new sample combination with / symbol</small>
        <br>
        <small style="color: grey">example: Blood Cells / Zinc Iron</small>
      </div>

      <div class="field">
        <br>
        <%= f.label :reagent, "Enter reagents" %>
        <br>
        <%= f.text_field :reagent, label: 'Reagent'%>
        <br>
        <small style="color: grey">⚠ Split reagents with space button and add new sample combination with / symbol</small>
        <br>
        <small style="color: grey">example: Sample-X Sample-Y / Sample-Z</small>
      </div>

      <div class="field">
        <br>
        <%= f.label :number_of_replication, "Enter number of replications" %>
        <br>
        <%= f.text_field :number_of_replication, label: 'Replicate' %>
        <br>
        <small style="color: grey">⚠ Split replicate numbers with comma (,)</small>
        <br>
        <small style="color: grey">example: 3,2</small>

      </div>
    </div>


    <br>
    <br>

    <%= link_to 'Home Page ',root_url, class: 'btn btn-dark' %>
    <%= f.button "Update", class: 'btn btn-primary', value: 'Create Experiment' %>
  <%  end %>
</div>


<style>
    #plate_size{
        font-size: 100px;
    }
</style>