<div class="row">
  <p id="notice"><%= notice %></p>

  <div class="col">
    <%= link_to 'ნივთის დამატება', new_generate_experiment_plate_path, class: 'btn btn-success' %>
  </div>
</div>

<br />

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1>ნივთები</h1>

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Plate size</th>
            <th>Sample</th>
            <th>reagent</th>
            <th>replication</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <% @experiment_plates.each do |experiment| %>
            <tr>
              <td class="align-middle"><%= experiment.plate_size %></td>
              <td class="align-middle"><%= experiment.sample %></td>
              <td class="align-middle"><%= experiment.reagent %>
              <td class="align-middle"><%= experiment.number_of_replication.to_s.split(',')%></td>
              <td class="align-middle"><%= link_to 'Generate plate', generate_experiment_plate_path(experiment), class: 'btn btn-warning' %></td>
<!--              <td class="align-middle"><%#= link_to 'რედაქტირება', edit_generate_experiment_plate_path(experiment), class: 'btn btn-warning' %></td>-->
<!--              <td class="align-middle"><%#= link_to 'წაშლა', generate_experiment_plates_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%></td>-->
            </tr>
          <% end %>
          </tbody>
        </table>
        <div style="margin-left: 40%">
            <%== pagy_bootstrap_nav(@pagy) %>
        </div>

      </div>
    </div>
  </div>
</div>