<!DOCTYPE html>
<html>
<head>
  <title>Experiment Plates</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<br>
<br>
<br>
<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<br/>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <% plate_quantity = @result.length %>

        <% plate_quantity.times do |plate| %>
          <h1><%=return_plate_number(plate) %></h1>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col"></th>
              <% @column_quantity.times do |column_number| %>
                <th scope="col"><%=return_columns(column_number) %></th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <%@row_quantity = @result[plate].length %>
            <% @row_quantity.times do |row_number| %>
              <tr>
                <th scope="row"><%= row_number + 1 %></th>
                <% @column_quantity.times do |column| %>
                  <th scope="row">
                    <%=fill_row_wells(plate,row_number,column) %>
                  </th>
                <% end %>
              </tr>
            <% end %>

            </tbody>
          </table>
          <br>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
</html>