<html lang="en">
<head>
  <title>Laboratory - Doctor sign in</title>
</head>
<style>
    .navbar{
        display: none;
    }
    .container{
        background-color: white !important;
    }
</style>
<br>
<br>
<br>
<div class="col-md-4 border shadow-lg" style="margin-left: 32%;background-color: #1e4f9e;border-radius: 4px; color: white">
  <h2 class="text-family" style="margin-left: 28%;margin-top: 2%;">Doctor Page</h2>
  <small style="margin-left: 34%" class="text-family">Sign in laboratory</small>
  <div style="margin-top: 2%;margin-left: 4%">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group" style="width: 60%;margin-left: 16%">
        <strong><%= f.label :email, class: 'text-family', style: 'font-size: 15px' %></strong>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email',class: 'form-control text-family shadow'%>
      </div>
      <div class="form-group text-family" style="width: 60%;margin-left: 16%">
        <strong><%= f.label :password, value: 'Password', style: 'font-size: 15px' %></strong>

        <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control text-family shadow'%>
      </div>
      <div class="form-group" style="margin-top: 4%">
        <%= f.submit 'Sign in', class: 'btn btn-dark shadow-sm text-family', style: 'width:150px;height:40px;margin-left: 28%' %>
      </div>
      <br>
      <div class="form-group">
      </div>
    <% end %>
  </div>

</div>

</html>